main {
  background-color: #121212;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

header {
  padding: 30px;
  top: 0;
}

footer {
  bottom: 0;
  background-color: #121212;
  padding: 2px 30px 30px 30px;
}

.App {
  max-height: 70vh;
  overflow: scroll;
  max-width: 700px;
  background-color: #121212;
}

ul {
  margin-top: 2.6rem;
  list-style: none;
  padding: 0 100px;
}

h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

input,
select,
textarea {
  color: #fff;
}

form {
  color: #fff;
}

button {
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  font-weight: bold;
  font-family: Sohne-Breit-Extrafett;
  letter-spacing: 1px;
}

input {
  background-color: transparent;
  border: none;
  outline: transparent;
  font-family: Sohne-Breit;
}

::-webkit-input-placeholder {
  color: grey;
}

::-moz-placeholder {
  color: grey;
}

::-ms-placeholder {
  color: grey;
}

::placeholder {
  color: grey;
}
