.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

#Todo-buttons svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
  margin: 20px;
  /* color: #fff; */
}

.completed {
  opacity: 0.4;
}

button {
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
}

.Todo-task.completed {
  opacity: 0.6;
}

.Todo-task.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
