.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

#Todo-buttons svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
  margin: 20px;
  /* color: #fff; */
}

button {
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}
